doctype html
html
  head
    title Angular 2 App
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet" href="app.min.css")
  body
    h1 Hello World !!
    app Loading...
    

    
    //- script(src="app.min.js")

      
    //- 1. Load libraries
    //- IE required polyfills, in this exact order
    script(src="./lib/es6-shim.min.js")
    script(src="./lib/system-polyfills.js")
    script(src="./lib/shims_for_IE.js")

    script(src="./lib/angular2-polyfills.js")
    script(src="./lib/system.src.js")
    script(src="./lib/Rx.js")
    script(src="./lib/angular2.dev.js")

    script
      | System.config({
      |   defaultJSExtensions: true,
      |   packages: {        
      |     app: {
      |       format: 'register',
      |       defaultExtension: 'js'
      |     }
      |   }
      | });
      | System.import('bootstrap')
      |       .then(null, console.error.bind(console));
